
- content_for :javascripts do

  = include_javascript "d3.min"
  = include_javascript "jquery.dataTables.min"
  = include_javascript "jquery.dataTables.sorting"
  = include_javascript "queue.min"
  = include_javascript "accounting.min"

  :javascript

    queue()
        .defer(d3.csv, "/data/council_raising.csv", function(d) { addRow(d); })
        .await(ready);

    function addRow(d) {
      var row = "<tr>\
        <td>" + d.ward + "</td>\
        <td>" + d.alderman + "</td>\
        <td>\
          <strong>" + accounting.formatMoney(d.raised) + "</strong>\
          <div class='progress'>\
            <div class='bar' style='width: " + (d.raised/1029198.30)*100 + "%;'></div>\
          </div>\
        </td>\
        </tr>";

      $("#council_raising_rows").append(row);
    }

    function ready(){

      // initialize datatables
      $('#council_raising').dataTable( {
          "aaSorting": [ [2,'desc'] ],
          "aoColumns": [
              null,
              null,
              { "sType": "num-html" }
          ],
          "bFilter": false,
          "bInfo": false,
          "bPaginate": false
      } );
    }





.row-fluid
  .span12
    %h1 
      Chicago Alderman
      %small Campaign Contributions

    %table.table#council_raising
      %thead
        %tr
          %th 
            %span Ward
          %th 
            %span Alderman
          %th 
            %span Amount raised in 2010
      %tbody#council_raising_rows