
- content_for :javascripts do

  = include_javascript "d3.min"
  = include_javascript "queue.min"
  = include_javascript "accounting.min"
  = include_javascript "jquery.dataTables.min"
  = include_javascript "jquery.dataTables.sorting"
  = include_javascript "jquery.sparkline.min"

  :javascript

    queue()
        .defer(d3.csv, "/data/council_raising.csv", function(d) { addRow(d); })
        .defer(d3.csv, "/data/donation_counts.csv", function(d) { addSparkline(d); })
        .await(ready);

    function addRow(d) {
      var row = "<tr id='alderman-" + convertToSlug(d.alderman) + "'>\
        <td>" + d.alderman + "</td>\
        <td>\
          <strong>" + accounting.formatMoney(d.raised) + "</strong>\
          <div class='progress'>\
            <div class='bar' style='width: " + (d.raised/1029198.30)*100 + "%;'></div>\
          </div>\
        </td>\
        <td>\
          <span id='alderman-" + convertToSlug(d.alderman) + "-sparkline' class='sparkline'></span>\
          <div class='xaxis'>\
            <div class='tick first'>$1</div>\
            <div class='tick'>$3,000</div>\
            <div class='tick last'>$6,000</div>\
          </div>\
        </td>\
        </tr>";

      $("#council_raising_rows").append(row);
    }

    function addSparkline(d) {
      $("#alderman-" + convertToSlug(d.alderman) + "-sparkline").attr("values", d.counts);
    }

    function ready(){

      // initialize datatables
      $('#council_raising').dataTable( {
          "aaSorting": [ [1,'desc'] ],
          "aoColumns": [
              null,
              { "sType": "num-html" },
              { "bSortable": false }
          ],
          "bInfo": false,
          "bPaginate": false
      } );

      // Sparklines
      $(".sparkline").sparkline("html", {
        chartRangeMin: 0,
        fillColor: "#ddf2fb",
        height: "40px",
        lineColor: "#518fc9",
        lineWidth: 1,
        minSpotColor: "#0b810b",
        maxSpotColor: "#c10202",
        spotColor: false,
        spotRadius: 2,
        width: "300px"
      });
    }

    //converts a text in to a URL slug
    function convertToSlug(text) {
      if (text == undefined) return '';
      return (text+'').replace(/ /g,'-').replace(/[^\w-]+/g,'');
    }

%h1 
  Chicago Alderman
  %small Campaign contribution amounts

.row-fluid
  .span8
    %p
      Using <a href='http://open-city.github.io/dedupe/doc/mysql_example.html'>deduplicated</a> Illinois political campaign contributions, we can determine how much money each alderman raised in the 2010 election, as well as the distribution of the donation amounts.

    %p
      <strong>Search</strong> or <strong>browse</strong> for your alderman below.

.row-fluid
  .span12

    %hr

    %table.table#council_raising
      %thead
        %tr
          %th 
            %span Alderman
          %th 
            %span Amount raised in 2010
          %th
            %span Donation distribution
      %tbody#council_raising_rows